---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  labels:
    app: rhacm-rhacs-config
  name: rhacs-config-local-cluster
  namespace: rhacm-rhacs-config
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchExpressions:
            - key: 'local-cluster'
              operator: 'In'
              values: 
                - 'true'
  clusterSets:
    - hub-cluster